
html {background-color: rgb(214,214,214);

}
div {
  background-color: rgb(29,29,29);
  height: 850px;
	width: 800px;
	border-radius: 0px;
	display: block;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
}

}
title {
  font-size: 24;
}
body {
  font-family: helvetica, Verdana, sans-serif;
  color: rgb(132,134,132);
  }
.b1 {text-align: center;

}
.b2 {text-align: center;

}
